<!DOCTYPE html>
<html>
<head>
	<title>Mena's Website</title>
	<link rel="stylesheet" href="custom_style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<div id="header">
		<p id="opening_par">
				Hello this is the opening paragrph. My name is Mena Filfil and I'm a student at DHS. I'm interested in computer science, math and science in general. I like reading and I am also a proactive member of my Coptic Orthodox Church in Bergen Ave, Jersey City, NJ, 07306
			 	My address is as follows:
			 			60 Glenwood Ave, Apt# 509
			 			Jersey City, NJ, 07306, US.
		</p>
		<table id="infotable">
			Here is some other personal info. about me
			<tr>
				<th>Age</th>
				<th>Date of Birth</th>
				<th>Graduation Year</th>
			</tr>
			<tr>
				<td>16</td>
				<td>01-07-2004</td>
				<td>2022</td>
			</tr>
		</table>
	</div>

	<div id="first">
		<p>
			Hello this is the <span class="name">first</span>
		</p>
	</div>

	<div id="second">
		<p>
			Hello this is the <span class="name">second</span>
		</p>
	</div>
	
	<div id="third">
		<p>
			Hello this is the <span class="name">third</span>
		</p>
	</div>

	<div>
		<button>
			<!-- The link tag is <a> -->
			<a href="#header" name="acad_prof_link">Click Me to go to the academic profile</a>
		</button>
	</div>

 	<div>
 		This bar will give you any of the information you need. Type what you want and it will give you its value
 		<form>
 			<div>
 				<input type="text" placeholder="Type the property that you want here" name="property">
 			    <button name="submit">Search</button>
 			</div>

 			<div>
 				Choose your favourite color
 				<input name="color" type="radio" name="green">Green
 				<input name="color" type="radio" name="yellow">Yellow
 				<input name="color" type="radio" name="red">Red
 			</div>
 			<div>
 				Sign In
 				<input type="text" name="username">
 				<input type="password" name="password">
 			</div>

 			<div>
 				Choose your country
 				<input list="countries" name="country" placeholder="click me to choose your country">
 				<datalist id="countries">
 					<option value="Egypt">
 					<option value="Sudan">
 					<option value="Germany">
 					<option value="UK">
 					<option value="US">
 				</datalist>
 			</div>

 		</form>
 		<h1 name="google">Hello</h1>
 	
 	</div>
 	<div class="big_box">
 		<div class="box">A. Hello My name is Mena Filfil and I'm a Dickinson Studetnt </div>
		<div class="box">A. Hello My name is Mena Filfil and I'm a Dickinson Studetnt </div>
 		<div class="box">A. Hello My name is Mena Filfil and I'm a Dickinson Studetnt </div>
 		<div class="box">A. Hello My name is Mena Filfil and I'm a Dickinson Studetnt </div> 		
 		<div class="box">A. Hello My name is Mena Filfil and I'm a Dickinson Studetnt </div>
 		<div class="box">A. Hello My name is Mena Filfil and I'm a Dickinson Studetnt </div>
 		<div class="box">A. Hello My name is Mena Filfil and I'm a Dickinson Studetnt </div>
 		<div class="box">A. Hello My name is Mena Filfil and I'm a Dickinson Studetnt </div>
 		<div class="box">A. Hello My name is Mena Filfil and I'm a Dickinson Studetnt </div>
 		<div class="box">A. Hello My name is Mena Filfil and I'm a Dickinson Studetnt </div>
 		<div class="box">A. Hello My name is Mena Filfil and I'm a Dickinson Studetnt </div>
 		<div class="box">A. Hello My name is Mena Filfil and I'm a Dickinson Studetnt </div>
 		<div class="box">A. Hello My name is Mena Filfil and I'm a Dickinson Studetnt </div>
 		<div class="box">A. Hello My name is Mena Filfil and I'm a Dickinson Studetnt </div>
 		<div class="box">A. Hello My name is Mena Filfil and I'm a Dickinson Studetnt </div>
 		<div class="box">A. Hello My name is Mena Filfil and I'm a Dickinson Studetnt </div>	
 	</div>

 	<div id="grid">
 		<div class="grid-item">1</div>
 		<div class="grid-item">1</div>
 		<div class="grid-item">1</div>
 		<div class="grid-item">1</div>
 		<div class="grid-item">1</div>
 		<div class="grid-item">1</div>
 		<div class="grid-item">1</div>
 		<div class="grid-item">1</div>
 		<div class="grid-item">1</div>
 		<div class="grid-item">1</div>
 		<div class="grid-item">1</div>
 		<div class="grid-item">1</div>
 		<div class="grid-item">1</div>
 		<div class="grid-item">1</div>
 		<div class="grid-item">1</div>
 		<div class="grid-item">1</div>
 		<div class="grid-item">1</div>
 		<div class="grid-item">1</div>
 		<div class="grid-item">1</div>
 		<div class="grid-item">1</div>
 		<div class="grid-item">1</div>
 		<div class="grid-item">1</div>
 		<div class="grid-item">1</div>
 		<div class="grid-item">1</div>
 		<div class="grid-item">1</div>
 		<div class="grid-item">1</div>
 		<div class="grid-item">1</div>
 	</div>

 	<div class="row">
 		<div class="col-3">Mena Mena Mena</div>
 		<div class="col-3">Mena Mena Mena</div>
 		<div class="col-3">Mena Mena Mena</div>
 	</div>

</body>
</html>